* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #544837;
}

.container {
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 10px;
}

.container-reviews {
  max-width: 1220px;
  padding: 0px 10px;
  margin: 0 auto;
  position: relative;
}

.title {
  color: #2f281e;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 78px;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #544837;
}
.logo:visited {
  color: #544837;
}

.menu {
  margin-left: auto;
}

.menu__btn {
  display: none;
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  display: none;
}

.menu__btn::after,
.menu__btn::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 2px;
  background-color: #000;
  left: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu__btn span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #000;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  margin-left: 24px;
}

.menu__list-link {
  color: #2f281e;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.325s;
}
.menu__list-link:hover {
  color: #ff9900;
}

.user-nav {
  margin-left: 52px;
  margin-right: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-nav__link {
  display: inline-block;
  color: #173a56;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  padding: 11px 23px;
  border-radius: 4px;
  transition: all 0.325s;
}

.user-nav__link + .user-nav__link {
  margin-left: 14px;
}

.user-nav__link-img {
  margin: auto;
  vertical-align: middle;
  display: inline-block;
  max-width: 130px;
  height: 30px;
}

.user-nav__link--vk {
  padding: 8px 23px;
  border: 1px solid #fff;
}
.user-nav__link--vk:hover {
  border: 1px solid rgba(0, 119, 255, 0.7);
}

.user-nav__link--whatsapp {
  border: 1px solid #25d366;
}

.user-nav__link--whatsapp:hover {
  background-color: #25d366;
  color: #fff;
}

.top__inner {
  padding: 133px 0 80px;
  background-image: url("../images/1.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.top__title {
  font-size: 44px;
  font-weight: bold;
  line-height: 54px;
  margin-bottom: 30px;
  max-width: 518px;
}

.top__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 45px;
  max-width: 460px;
}

.top__btn {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  background-color: #25d366;
  padding: 15px 41px 14px;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  text-decoration: none;
  transition: all 0.325s;
}

.top__links {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top__link {
  font-size: 20px;
  display: inline-block;
  color: #25d366;
  line-height: 24px;
  font-weight: 600;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  transition: all 0.325s;
}

.top__link--whatsapp {
  border: 1px solid #25d366;
}

.top__link--whatsapp:hover {
  background-color: #fff;
  color: #173a56;
}

.top__link--email {
  color: #2f281e;
  font-size: 28px;
  text-decoration: none;
  margin-top: 44px;
  padding-left: 0;
}
.top__link--email:hover {
  color: #25d366;
}

.top__link--vk {
  border: 1px solid transparent;
  border-radius: 4px;
}
.top__link--vk:hover {
  background-color: rgba(0, 119, 255, 0.6);
}

.top__link-img {
  max-width: 220px;
  object-position: bottom center;
  height: 53px;
  vertical-align: middle;
}

/* .top__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 17px;
  height: 19px;
  background-image: url("../images/play-triangle.svg");
} */

.tools {
  padding-top: 110px;
}

.tools__title {
  margin: 0 auto 46px;
  padding: 0 10px;
  text-align: center;
  max-width: 539px;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

.tools__inner {
  padding-bottom: 90px;
  background-image: url("../images/tools-bg.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.tools__items {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 0;
  margin-bottom: 60px;
}

.tools__item {
  width: 240px;
}

.tools__item-img {
  margin-bottom: 30px;
}

.tools__items-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  margin-bottom: 13px;
}

.tools__link {
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #25d366;
  display: block;
  text-decoration: none;
  padding: 15px 32px 14px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 24px;
  max-width: 220px;
  margin: 0 auto;
  transition: all 0.325s;
}

.tools__link--whatsapp {
  border: solid #25d366 1px;
}

.tools__link--whatsapp:hover {
  background-color: transparent;
  color: #544837;
}

.direction {
  padding: 120px 0 57px;
}

.direction__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.direction__item-content {
  max-width: 486px;
}

.direction__item-pretitle {
  margin-bottom: 3px;
  line-height: 24px;
}

.direction__item-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 22px;
}

.direction__item-titletext {
  margin-bottom: 30px;
}

.direction__item-text {
  margin-bottom: 25px;
}

.direction__item-subtitle {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 18px;
}

.direction__list {
  list-style: none;
}

.direction__list-item {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  padding-left: 55px;
  position: relative;
}

.direction__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  width: 35px;
  height: 35px;
  background-image: url("../images/check.png");
}

.reviews {
  padding: 100px 0;
  /* background-color: #332208 */
  /* color: #fefefe;
   */
  color: #544837;

  background-image: url("../images/team-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.reviews__title {
  font-family: "Fira Sans", sans-serif;
  margin-bottom: 70px;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
}

.slick-initialized .reviews__item {
  display: flex;
}

.reviews__item {
  border: 1px solid #bcd0e5;
  border-radius: 26.5px;
  background-color: #fff;
  text-align: center;
  padding: 45px 30px;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  min-height: 300px;
  margin-right: 30px;
}

.reviews__item-name {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.reviews__item-text {
  font-weight: 400;
  color: #1b1818;
  font-size: 16px;
  line-height: 19px;
}

.reviews__slider .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.reviews__slider .slick-dots button {
  background-color: #fddec8;
  margin: 0 5px;
  line-height: 12px;
}

.team {
  background-image: url("../images/team-bg.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.team__inner {
  padding: 230px 0 380px;
  position: relative;
}

.team__box {
  text-align: center;
  max-width: 542px;
  margin: 0 auto;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 22px;
}

.team__text {
  color: #567592;
  margin-bottom: 45px;
}

.team__btn {
  color: #fff;
  background-color: #ff9900;
  padding: 15px 41px 14px;
  border: none;
  border-radius: 4px;
}

.team__item {
  position: absolute;
  width: 98px;
  height: 98px;
}

.team__item--1 {
  right: 95px;
  top: 157px;
}

.team__item--2 {
  left: 0;
  top: 223px;
}

.team__item--3 {
  right: 0;
  top: 480px;
}

.team__item--4 {
  left: 208px;
  top: 504px;
}

.team__item--5 {
  right: 365px;
  top: 602px;
}

.team__item-img {
  width: 98px;
  height: 98px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.team__item-text {
  background-color: #fff;
  padding: 14px 20px 15px;
  color: #2f281e;
  border-radius: 26px;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  position: absolute;

  white-space: nowrap;
}

.team__item-text--right {
  top: -45px;
  left: 65px;
}

.team__item-text--left {
  top: -45px;
  right: 65px;
}

.team__item-text--right::before,
.team__item-text--right::after,
.team__item-text--left::before,
.team__item-text--left::after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
}

.team__item-text--left::before {
  width: 9px;
  height: 9px;
  bottom: -20px;
  right: 13px;
}

.team__item-text--left::after {
  width: 17px;
  height: 17px;
  bottom: -7px;
  right: 30px;
}

.team__item-text--right::before {
  width: 9px;
  height: 9px;
  bottom: -20px;
  left: 12px;
}

.team__item-text--right::after {
  width: 17px;
  height: 17px;
  bottom: -7px;
  left: 30px;
}

.blog {
  padding: 30px 0 120px;
  background-color: #fffbf7;
}

.blog__title {
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  margin-bottom: 70px;
}

.blog__text {
  margin-bottom: 55px;
}

.slider {
  margin: 0 -20px;
}

.slider__item {
  padding: 0 20px;
}

.slider__item-img {
  width: 348px;
  height: 185px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: 25px;
}

.slider__item-info {
  margin-bottom: 12px;
  line-height: 28px;
}

.slider__item-author {
  text-decoration: none;
  font-weight: 700;
  color: #544837;
}

.slider__item-title {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  transition: all 0.3s;
  display: inline-block;
  margin-bottom: 84px;
}

.slider__item-title:hover {
  color: #ff9900;
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
}

.slick-dots button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  font-size: 0;
  background-color: #efefef;
  margin: 0 5px;
}

.slick-dots .slick-active button {
  background-color: #ff9900;
}

.footer {
  background-color: #fffbf7;
}

.footer__inner {
  padding: 105px 0 100px;
  border-top: 1px solid rgba(188, 208, 229, 0.5);
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  width: 135px;
}

.footer__menu-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 35px;
}

.footer__list {
  list-style: none;
}

.footer__menu-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 35px;
  color: #544837;
  transition: all 0.325s;
}
.footer__menu-link:hover {
  color: #ff9900;
}

.footer__form {
  width: 330px;
}

.footer__form-text {
  font-size: 20px;
  line-height: 30px;
  color: #2f281e;
  margin-bottom: 35px;
}

.footer__form-input {
  height: 48px;
  padding: 0 15px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 21px;
  display: inline-block;
}

.footer__form-input::placeholder {
  color: #bcd0e5;
  font-size: 16px;
  line-height: 28px;
}

.footer__form-btn {
  background-color: #ff9900;
  color: #fff;
  padding: 8px 15px 7px;
  border: none;
  border-radius: 4px;
}

@media (max-width: 1240px) {
  .reviews {
    padding: 75px 0;
  }
  .team__item--4 {
    left: 275px;
  }

  .team__item--5 {
    right: 250px;
    top: 670px;
  }

  .team__item--3 {
    top: 545px;
    right: 25px;
  }

  .slider {
    margin: 0;
  }
  .slider__item {
    padding: 10px;
  }
}

@media (max-width: 1140px) {
  .slider__item-img {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 1075px) {
  .top__inner {
    background-size: 50%;
    background-position: bottom 25% right;
  }
}

@media (max-width: 1040px) {
  .reviews {
    padding: 50px 0;
  }
  .team__item--2 {
    top: 190px;
  }
  .team__item--5 {
    top: 700px;
    right: 215px;
  }
}

@media (max-width: 992px) {
  .header__inner {
    flex-wrap: wrap;
    height: auto;
    padding-top: 25px;
  }

  .menu {
    order: 1;
    width: 100%;
  }

  .menu__list {
    justify-content: flex-end;
    padding-top: 30px;
  }

  .top__inner {
    background-image: none;
  }

  .tools__items {
    flex-wrap: wrap;
  }

  .tools__item {
    width: 50%;
    margin-bottom: 30px;
    padding-right: 30px;
  }

  .direction__item-img {
    width: 40%;
  }
}

@media (max-width: 860px) {
  .direction__item {
    flex-wrap: wrap;
  }

  .direction__item-img {
    order: 1;
    width: 80%;
    margin: 30px auto 0;
  }
  .direction__item-content {
    max-width: 100%;
  }

  .team__inner {
    padding: 80px 0;
  }

  .team__item {
    display: none;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__form {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .top__inner,
  .direction {
    padding: 80px 0 60px;
  }

  .tools {
    padding-top: 40px;
  }

  .tools__inner {
    padding-bottom: 60px;
  }

  .team__inner {
    padding: 40px 0;
  }

  .blog,
  .footer__inner {
    padding: 60px 0 40px;
  }
}

@media (max-width: 600px) {
  .direction {
    padding: 60px 0 40px;
  }

  .tools {
    padding-top: 40px;
  }
  .tools__inner {
    padding-bottom: 40px;
  }

  .blog,
  .footer__inner,
  .team__inner {
    padding: 40px 0 40px;
  }
}

@media (max-width: 524px) {
  .header__inner {
    display: block;
  }

  .logo {
    z-index: 20;
    position: relative;
  }

  .menu__btn {
    display: flex;
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 20;
  }

  .menu__list {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    text-align: center;
    transform: translateY(-300%);
    transition: all 0.4s;
  }

  .menu__list.menu__list--active {
    transform: translateY(0%);
  }

  .menu__list-link {
    display: block;
    padding: 10px 0;
  }

  .user-nav {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-top: 15px;
  }

  .user-nav__link {
    padding: 11px 11px;
  }
  .user-nav__link--vk {
    margin-left: 0;
  }

  .menu__list-item + .menu__list-item {
    margin-left: 0;
  }

  .top__title {
    font-size: 30px;
    line-height: 32px;
  }

  .top__btn {
    margin-bottom: 20px;
  }

  .top__link--vk {
    margin-left: 0;
  }

  .top__link--email {
    font-size: 25px;
    margin-top: 25px;
  }

  .tools__item {
    width: 100%;
  }

  .direction__item {
    margin-bottom: 40px;
  }

  .tools__title,
  .direction__item-title,
  .team__title,
  .blog__title {
    font-size: 26px;
    line-height: 30px;
  }

  .reviews__title,
  .blog__title {
    margin-bottom: 35px;
  }

  .footer__inner {
    justify-content: space-around;
  }

  .footer .logo {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer__menu {
    width: 100%;
  }

  .footer__menu + .footer__menu {
    margin-top: 20px;
  }

  .footer__menu-title {
    margin-bottom: 15px;
  }
}
